:root {
    background: #f9f9f9;
    color: #010101;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    line-height: 1.55rem
}

:focus {
    outline: 0;
}

body {
    max-width: 100%;
    margin: auto;
}

header {
    background: #212121;
    padding: 2rem;
}

header .title {
    color: #fff;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: center;
}

.section {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: thick solid;
}

form {
    max-width: 90%;
    margin: 0 auto;
}


/* Form field */

fieldset {
    border: none;
    padding: 0;
    padding-bottom: 3rem;
}

fieldset#contact {
    border-bottom: 2px solid;
}

label {
    display: block;
    margin-top: 1.75rem;
    margin-bottom: .75rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
    background: #eee;
    width: 90%;
    padding: 1.2rem;
    border-radius: 5px;
    border: 0;
}

input[id="zip"] {
    width: 45%
}

textarea {
    height: 5rem;
}
select {
    height: 3.3rem;
    padding-right: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid
}

button {
    background: teal;
    color: white;
    width: 100%;
    padding: 1rem;
    border: 0;
    border-radius: 5px;
    
}

::-webkit-input-placeholder {
    text-align: right;
    font-size: .8rem
}


/* newsletter forms */

input[type="radio"]+label, 
input[type="checkbox"]+label {
    display: inline-block;
    margin-left: .75rem;
    margin-top: 0rem;
}

/* Foooter */

footer {
    text-align: center;
    margin-top: 5rem;
}


/* Type styles */

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

legend {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 3rem;
    margin-bottom: 1rem;
}